<html>
  <head>
    <style>
      body {
        background: <%= background %>;
      }
    </style>
  </head>
  <body>
    <p>
      <%= message %>
      <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
      </form>
    </p>
  </body>
</html>
